@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dosis-bold.woff2") format("woff2"),
    url("../fonts/dosis-bold.woff") format("woff");
}

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/dosis-semibold.woff2") format("woff2"),
    url("../fonts/dosis-semibold.woff") format("woff");
}

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/dosis-medium.woff2") format("woff2"),
    url("../fonts/dosis-medium.woff") format("woff");
}

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dosis-regular.woff2") format("woff2"),
    url("../fonts/dosis-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"),
    url("../fonts/fontawesome-webfont.woff") format("woff");
}
